.my-nav {
  display: flex;
}

.my-nav {
  width: 150px;
  height: 300px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-top: 200px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.my-nav a {
  color: white;
}

.shop-body {
  min-height: 800px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.my-order {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  justify-self: center;
}

.my-order .text {
  text-align: center;
  color: white;
  font-size: 30px;
}

.my-order .order-list-box {
  padding: 0;
}

.my-order .order-list {
  display: flex;
  border: 1px solid white;
}

.my-order .order-list img {
  width: 20%;
}

.my-order .order-list .left {
  width: 60%;
  color: white;
}

.my-order .order-list .right {
  width: 20%;
  color: white;
}
