.pay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
    margin-top: 100px;
}

.pay .productInfo{
    width: 90%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pay .productInfo .item{
    width: 100%;
    padding: 10px;
    display: flex;
}

.pay .productInfo .item img{
    width: 20%;
}

.pay .productInfo .item .right{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pay .productInfo .item .right .name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pay .productInfo .item .right .description{
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pay .productInfo .item .right .count{
    width: 30px;
}

.pay .payInfo{
    display: flex;
    flex-direction: column;
    color: white;
}

.pay .payInfo label{
    margin-top: 50px;
}

.pay .payInfo input{
    border: none;
    outline: none;
    width: 500px;
    height: 25px;
}

.pay .payInfo #postcode{
    margin-top: 50px;
    width: 45%;
    margin-right: 19%;
}

.pay .payInfo #postcode-btn{
    width: 35%;
    padding: 0;
    margin-bottom: 10px;
}

.pay .payInfo #address{
    margin-top: 10px;
}

.pay .payInfo .daum{
    margin-top: 10px;
    margin-bottom: 10px;
}

.pay .payInfo .pay_submit{
    margin-top: 50px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    background: pink;
    color: white;
    align-self: center;
    transition-duration: 1s;
}

.pay .payInfo .pay_submit:hover{
    background: white;
    color: pink;
}

.pay .total-price{
    color: white;
    font-size: 30px;
    margin-top: 50px;
}

.invisible{
    display: none;
}