.user-admin{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.user-admin .user-num{
    width: 10%;
}

.user-admin .user-email{
    width: 30%;
    
}

.user-admin .user-birth{
    width: 30%;
}