.item-admin{
    width: 90%;
    height: 70px;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.item-admin .item-num{
    width: 10%;
    text-align: center;
}

.item-admin .item-img{
    max-height: 100%;
    width: 20%;
}

.item-admin .item-name{
    width: 50%;
    text-align: center;
    color: black;
}

.item-admin .item-price{
    width: 20%;
    text-align: center;
}